.pisava_normal {
	font-family: Verdana;
	font-size: 22px;
	color: #913148;
	text-decoration: none;
}
.pisava_mala {
	font-family: Verdana;
	font-size: 14px;
	color: #913148;
	text-decoration: none;
}
.pisava_naslov {
	font-family: Verdana;
	font-size: 38px;
	color: #913148;
	text-decoration: none;
}
.obrazec_normal {
	font-family: Verdana;
	font-size: 22px;
	color: #913148;
	border: 2px solid #8C8C8C;
}
.obrazec_radio {
	font-family: Verdana;
	font-size: 22px;
	color: #913148;
}
.tabela_zelena {
	background-color: #98B572;
}
.tabela_siva {
	background-color: #D4D0C7;
}
.tabela_seznam {
	border-collapse: collapse; 
	border: 2px solid #8C8C8C;
}
.div_vprasanje_1 {
	border: 2px solid #737373;
	margin: 5px;
	padding: 5px;
	width: 70%;
	background-color: #D4C7D1;
}
.div_vprasanje_2 {
	border: 2px solid #737373;
	margin: 5px;
	padding: 5px;
	width: 70%;
	background-color: #C7CFD4;
}
.div_vprasanje_3 {
	border: 2px solid #737373;
	margin: 5px;
	padding: 5px;
	width: 70%;
	background-color: #E3E0C8;
}
.div_vprasanje_4 {
	border: 2px solid #737373;
	margin: 5px;
	padding: 5px;
	width: 70%;
	background-color: #D2E3D1;
}